* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main_div {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 5px;
}

iframe {
    height: 500px;
    width: 900px;
}

select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #efefef;
    border-radius: 8px;
    box-shadow: 0 15px 15px #efefef;
    appearance: none;
    background: #e8eaf6 url(arrow.png) no-repeat;
    background-position: 95% 55%;
    background-size: 22px;
}

select:focus {
    outline: none;
}

.data {
    display: none;
}

@media() {}